<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        <a href="@Url.Action("TeacherProfile", "InstitutionTeacher")"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li>
        <a href="@Url.Action("SchoolProfile", "InstitutionAdmin")"><i class="fa fa-building"></i>School Profile</a>
    </li>
    <li>
        <a href="@Url.Action("Students", "InstitutionTeacher")"><i class="fa fa-graduation-cap"></i>Students</a>
    </li>

    <li>
        <a><i class="fa fa-file-text"></i> Assignment <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Trail List" href="@Url.Action("AddAssignment", "Praescio")"><i title="Add Assignment" class="fa fa-university"></i> <span class="nav-label"> Add Assignment</span></a>
            </li>
            <li>
                <a title="Trail List" href="@Url.Action("UploadAssignmentQuestion", "Praescio")"><i title="Add Lessons" class="fa fa-university"></i> <span class="nav-label"> Upload Assignment Qts</span></a>
            </li>
            <li>
                <a title="Full Version" href="@Url.Action("ViewAssignment", "Praescio")"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Assignment</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-text"></i> Handwriting<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Trail List" href="@Url.Action("AddHandwritingAssigment", "Praescio")"><i title="Add Assignment" class="fa fa-university"></i> <span class="nav-label"> Add Assignment</span></a>
            </li>           
            <li>
                <a title="Full Version" href="@Url.Action("ViewHandwritingAssigment", "Praescio")"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Assignment</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-text"></i> Pronunciation<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Trail List" href="@Url.Action("AddPronunciationAssignment", "Praescio")"><i title="Add Assignment" class="fa fa-university"></i> <span class="nav-label"> Add Assignment</span></a>
            </li>
            <li>
                <a title="Full Version" href="@Url.Action("ViewPronunciationAssignment", "Praescio")"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Assignment</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a href="@Url.Action("CheckAssignment", "InstitutionTeacher")"><i class="fa fa-check"></i>Check Assignment</a>
    </li>
   
    @*<li>
        <a><i class="fa fa-edit"></i> Registration <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Register Student" href="@Url.Action("RegisterStudent", "InstitutionTeacher")"><i title="Register Student"></i> <span class="nav-label"> Student</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a title="School List" href="@Url.Action("StudentList", "Praescio", new { isIndividual = false, version = Praescio.BusinessEntities.Common.VersionType.Trail })"><i title="Student List" class="fa fa-university"></i> <span class="nav-label"> Student List</span></a>
    </li>*@
    
      
    @*<li>
        <a><i class="fa fa-file-word-o"></i>Edu Study <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="course_completion_status.html"> Course Completion Status</a>
            <li><a href="overall_progress.html">Overall Progress</a></li>
            <li><a href="handwritting_dev.html">Handwriting Development</a></li>
            <li><a href="pronounciation_dev.html">Pronunciation Development</a></li>
            <li><a href="teacher_assignment_index.html">Teachers Assignment</a></li>
            <li><a href="school_notice.html">School Notice</a></li>
            <li><a href="school_info.html">School Information</a></li>
        </ul>
    </li>*@
    <li>
        <a href="#"><i class="fa fa-plus"></i>Knowledge Bank<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddKnowledgeBank", "Praescio")">Add Knowledge Bank</a></li>
            <li><a href="@Url.Action("ViewKnowledgeBank", "Praescio")">View Knowledge Bank</a></li>
            <li><a href="@Url.Action("KnowledgeBankHistory", "Praescio")">Knowledge Bank History</a></li>
        </ul>
    </li>

    <li>
        <a href="@Url.Action("SchoolNotice", "InstitutionTeacher")"><i class="fa fa-sticky-note"></i>School Notice</a>
    </li>
    <li>
        <a href="@Url.Action("Help", "Praescio")"><i class="fa fa-circle"></i>Help</a>
    </li>

</ul>