<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="ICON" href="~/Content/assets/build/images/school_icon.png" type="image/ico" />
    <title>Praescio | Admin </title>
    <!-- Bootstrap -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Content/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/assets/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/assets/build/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/build/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/assets/build/css/AdminLTE.css" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>

    <!--PICK A DAY-->
    <script src="~/Content/pikaday/moment.min.js"></script>
    <link href="~/Content/pikaday/pikaday.css" rel="stylesheet" />
    <script src="~/Content/pikaday/pikaday.js"></script>

    <!-- EXCEL TO LIST OBJECT DATA SAVING-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.full.min.js"></script>
    <script src="http://oss.sheetjs.com/js-xlsx/jszip.js"></script>

    <style>
        .required:after {
            content: " *";
            color: red;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body class="nav-md" ng-app="PSM">

    @RenderBody()

    <!-- jQuery -->
    <script src="~/Content/assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/assets/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/Content/assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="~/Content/assets/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/assets/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/assets/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- iCheck -->
    <script src="~/Content/assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net/js/jquery.dataTables.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-buttons/js/buttons.print.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/jszip/dist/jszip.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/pdfmake/build/pdfmake.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/pdfmake/build/vfs_fonts.js")

    <!-- Custom Theme Scripts -->
    @System.Web.Optimization.Scripts.Render("~/Content/assets/build/js/custom.min.js")

    @System.Web.Optimization.Scripts.Render("~/Content/assets/vendors/select2/dist/js/select2.js")
    @System.Web.Optimization.Styles.Render("~/Content/assets/vendors/select2/dist/css/select2.min.css")

    <!--  ANGULARJS -->
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/angular.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/dirPagination.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/angular-ui-router.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/AngularCustomService.js")

    <!-- Sweet alert -->
    @System.Web.Optimization.Scripts.Render("~/Content/plugin/sweetalert.min.js")
    @System.Web.Optimization.Styles.Render("~/Content/plugin/sweetalert.css")

    <!-- Confirm alert -->
    @Styles.Render("~/Content/plugin/jquery-confirm/jquery-confirm.min.css")
    @Scripts.Render("~/Content/plugin/jquery-confirm/jquery-confirm.min.js")


    <script type="text/javascript">

        var ApiBaseURL = '@Praescio.Models.Common.baseUrl';
        var myApp = angular.module('PSM', ['sharedServices', 'angularUtils.directives.dirPagination'])

        myApp.constant('config', null);
        myApp.constant('ApiURL', '@Praescio.Models.Common.baseUrl');

    </script>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Neoquant.js"></script>

    <script>
        var jQuery123 = $.noConflict(true);
        jQuery123(function () {
            jQuery123('.number').NumericOnly();
            jQuery123('.alphanumeric').AlphaOnly();

        });
    </script>


    @RenderSection("Scripts", false)

</body>
</html>