@{
    ViewBag.Title = "Student";
}

<div class="right_col" role="main" ng-controller="StudentRegisterCtrl">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Registration</h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">Student Registration</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Individual Student Registration</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start form for validation -->
                        <form id="StudentRegistration" name="StudentRegistration" data-parsley-validate>

                            @*<div class="form-group">
                                    <label for="UserName" class="required">UserName</label>
                                    <input type="text" id="UserName" ng-model="Student.UserName" class="form-control" name="UserName" readonly onfocus="this.removeAttribute('readonly');" placeholder="Enter UserName" required />
                                    <p ng-show="StudentRegistration.UserName.$invalid && (StudentRegistration.UserName.$dirty || submitted ||StudentRegistration.UserName.$touched )" class="text-danger">User Name is required.</p>
                                </div>

                                <div class="form-group">
                                    <label for="Password" class="required">Password</label>
                                    <input type="password" id="Password" ng-model="Student.Password" class="form-control" name="Password" readonly onfocus="this.removeAttribute('readonly');" placeholder="Enter Password" required />
                                    <p ng-show="StudentRegistration.Password.$invalid && (StudentRegistration.Password.$dirty || submitted ||StudentRegistration.Password.$touched )" class="text-danger">Password is required.</p>
                                </div>*@

                            <div class="form-group">
                                <label for="firstname" class="required">First Name</label>
                                <input type="text" id="FirstName" ng-model="Student.FirstName" class="form-control alpha" name="FirstName" placeholder="Enter First Name" required />
                                <p ng-show="StudentRegistration.FirstName.$invalid && (StudentRegistration.FirstName.$dirty || submitted ||StudentRegistration.FirstName.$touched )" class="text-danger">First Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="required">Last Name</label>
                                <input type="text" id="LastName" ng-model="Student.LastName" class="form-control alpha" name="LastName" data-parsley-trigger="change" placeholder="Last Name" required />
                                <p ng-show="StudentRegistration.LastName.$invalid && (StudentRegistration.LastName.$dirty || submitted ||StudentRegistration.LastName.$touched )" class="text-danger">Last Name is required.</p>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <p>
                                    Male:
                                    <input type="radio" class="flat" name="gender" id="genderM" value="Male" checked="" required /> Female:
                                    <input type="radio" class="flat" name="gender" id="genderF" value="Female" />
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="text" id="DateOfBirth" ng-model="Student.DateOfBirth"  class="form-control" name="DateOfBirth" data-parsley-trigger="change" placeholder="Enter DateOfBirth" required />
                                <p ng-show="StudentRegistration.DateOfBirth.$invalid && (StudentRegistration.DateOfBirth.$dirty || submitted ||StudentRegistration.DateOfBirth.$touched )" class="text-danger">DateOfBirth is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="email" class="required">Email id</label>
                                <input type="email" id="Email" ng-model="Student.Email" class="form-control validateEmail" name="Email" data-parsley-trigger="change" placeholder="Enter Email Id" required />
                                <p ng-show="StudentRegistration.Email.$invalid && (StudentRegistration.Email.$dirty || submitted ||StudentRegistration.Email.$touched )" class="text-danger">Enter valid Email ID.</p>
                            </div>


                            <div class="form-group">
                                <label for="regno">Students Mobile Number</label>
                                <input type="text" id="StudentMobileNo" ng-model="Student.MobileNo" maxlength="10" class="form-control number" name="StudentMobileNo" data-parsley-trigger="change" placeholder="Mobile Number" required />
                                <p ng-show="StudentRegistration.StudentMobileNo.$invalid && (StudentRegistration.StudentMobileNo.$dirty || submitted ||StudentRegistration.StudentMobileNo.$touched )" class="text-danger">Mobile No is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="Address">Address</label>
                                <textarea id="Address" required="required" ng-model="Student.Address" class="form-control" name="Address" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." placeholder="Enter Address"
                                          data-parsley-validation-threshold="10"></textarea>
                                <p ng-show="StudentRegistration.Address.$invalid && (StudentRegistration.Address.$dirty || submitted ||StudentRegistration.Address.$touched )" class="text-danger">Address is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="Version">Select Version</label>
                                <select id="Version" name="Version" ng-change="ChangeExpiredDate()" class="input-sm form-control" ng-model="Student.VersionType" ng-options="option.Name as option.Name for option in VersionType" ng-change="" ng-required="true">
                                    <option value="">-- Select Version --</option>
                                </select>
                                <p ng-show="StudentRegistration.Version.$invalid && (StudentRegistration.Version.$dirty || submitted ||StudentRegistration.Version.$touched )" class="text-danger">Version is required.</p>
                            </div>

                            <div class="form-group" ng-if="Student.VersionType=='@Praescio.Domain.AppCode.VersionType.Paid'">
                                <label for="Package">Select Package</label>
                                
                                <select id="Package" name="Package" class="form-control " ng-model="Student.PackageId" ng-options="option.id as option.text for option in PackageList" ng-change="PackageChange();">
                                    <option value="">Select Package</option>
                                </select>


                                <p ng-show="StudentRegistration.Package.$invalid && (StudentRegistration.Package.$dirty || submitted ||StudentRegistration.Package.$touched )" class="text-danger">Package is required.</p>
                            </div>

                            <div class="form-group" ng-if="Student.VersionType=='@Praescio.Domain.AppCode.VersionType.Paid'">
                                <label for="AmountPaid">Amount Paid</label>
                                <input type="text" id="AmountPaid" name="AmountPaid" ng-model="Student.AmountPaid" class="form-control" data-space="false">
                                <p ng-show="StudentRegistration.AmountPaid.$invalid && (StudentRegistration.AmountPaid.$dirty || submitted ||StudentRegistration.AmountPaid.$touched )" class="text-danger">Amount Paid is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="heard">Select Board</label>
                                <select id="Board" name="Board" class="input-sm form-control" ng-change="ChangeBoard(Student.BoardId)" ng-model="Student.BoardId" ng-options="option.Id as option.BoardName for option in BoardList" ng-required="true">
                                    <option value="">-- Select Board --</option>
                                </select>
                                <p ng-show="StudentRegistration.Board.$invalid && (StudentRegistration.Board.$dirty || submitted ||StudentRegistration.Board.$touched )" class="text-danger">Board is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="SubjectName">Select Medium</label>
                                <select id="Medium" name="Medium" class="input-sm form-control" ng-disabled="Student.BoardId>1" ng-model="Student.MediumId" ng-options="option.Id as option.MediumName for option in MediumList" ng-required="true">
                                    <option value="">-- Select Medium --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Standard">Select Standard</label>
                                <select id="Standard" name="Standard" class="input-sm form-control" ng-model="Student.Standard" ng-options="option.Id as option.StandardName for option in StandardList" ng-change="ChangeStandard(Student.Standard)" ng-required="true">
                                    <option value="">-- Select Standard --</option>
                                </select>
                                <p ng-show="StudentRegistration.Standard.$invalid && (StudentRegistration.Standard.$dirty || submitted ||StudentRegistration.Standard.$touched )" class="text-danger">Standard is required.</p>
                            </div>

                         

                            <div class="form-group">
                                <label for="SubjectName">Select Subject</label>
                                <select class="input-sm form-control select2" multiple="" id="Subject" name="Subject"
                                        data-placeholder="Select Subject" ng-required="true" ng-model="Student.Subject">
                                    <option value=""></option>
                                    <option ng-repeat="option in SubjectList" value="{{option.Id}}">{{option.SubjectName}}</option>
                                </select>
                            </div>



                            <div class="form-group">
                                <label for="schoolname">Mother's Name </label>
                                <input type="text" id="MotherName" class="form-control" name="MotherName" ng-model="Student.MotherName" placeholder="Enter Mother's First Name" required />
                                <p ng-show="StudentRegistration.MotherName.$invalid && (StudentRegistration.MotherName.$dirty || submitted ||StudentRegistration.MotherName.$touched )" class="text-danger">Mother Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="schoolname">Father's Name</label>
                                <input type="text" id="FatherName" class="form-control" name="FatherName" ng-model="Student.FatherName" placeholder="Enter Father's First Name" required />
                                <p ng-show="StudentRegistration.FatherName.$invalid && (StudentRegistration.FatherName.$dirty || submitted ||StudentRegistration.FatherName.$touched )" class="text-danger">Father Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="email" class="required">Parent Email Id</label>
                                <input type="email" id="ParentEmail" class="form-control validateEmail" name="ParentEmail" ng-model="Student.ParentEmail" data-parsley-trigger="change" placeholder="Enter Parent Email" required />
                                <p ng-show="StudentRegistration.ParentEmail.$invalid && (StudentRegistration.ParentEmail.$dirty || submitted ||StudentRegistration.ParentEmail.$touched )" class="text-danger">Parent Email is required.</p>


                            </div>
                            <div class="form-group">
                                <label for="phoneno">Phone No.</label>
                                <input type="text" id="ParentNo" class="form-control number" maxlength="10" name="ParentNo" ng-model="Student.ParentNo" placeholder="Enter Parent Mobile No" required />
                                <p ng-show="StudentRegistration.ParentNo.$invalid && (StudentRegistration.ParentNo.$dirty || submitted ||StudentRegistration.ParentNo.$touched )" class="text-danger">Parent Mobile No is required.</p>
                            </div>

                            <div class="form-group">

                                <label for="Version">Select Activate Date</label>
                                <input type="text" id="ActivateDate" name="ActivateDate" ng-model="Student.ActivateOn" ng-change="ChangeExpiredDate()" class="form-control" data-space="false">
                            </div>

                            <div class="form-group">
                                <label for="Version">Select Expired Date</label>
                                <input type="text" id="ExpiredOn" name="ExpiredOn" readonly ng-model="Student.ExpiredOn" class="form-control" data-space="false">
                            </div>

                            <br />
                            <span class="btn btn-primary" ng-click="reset()">Reset</span>

                            @if (ViewBag.AccountId == 0)
                            {
                            <span class="btn btn-primary" ng-click="RegisterStudent()" ng-disabled="savingRequest">
                                Submit
                                <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                            </span>
                            }
                            else
                            {
                                <span class="btn btn-primary" ng-click="UpdateStudent()" ng-disabled="savingRequest">
                                    Update
                                    <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                </span>
                            }
                        </form>
                        <!-- end form for validations -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{



    <script type="text/javascript">


        myApp.controller('StudentRegisterCtrl', function ($scope, $rootScope, $filter, NetworkService) {


            $scope.Student = {};
            $scope.Student.ActivateOn = '@DateTime.Parse(DateTime.Now.ToString().Trim()).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)';
            $scope.Student.ExpiredOn = '@DateTime.Parse(DateTime.Now.AddYears(1).ToString().Trim()).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)';
            $scope.TitleName = 'Register Student'

            $scope.StandardList = [{ Id: 1, StandardName: '5th' }, { Id: 2, StandardName: '6th' }, { Id: 3, StandardName: '7th' },
                               { Id: 4, StandardName: '8th' }, { Id: 5, StandardName: '9th' }, { Id: 6, StandardName: '10th' }]

          
            $scope.MediumList = [{ Id: 1, MediumName: 'English' }, { Id: 2, MediumName: 'Marathi' }];


            $scope.VersionType = [{ Id: 1, Name: '@Praescio.Domain.AppCode.VersionType.Paid' }, { Id: 2, Name: '@Praescio.Domain.AppCode.VersionType.Trial' }];

            NetworkService.get('PraescioAdmin/GetBoardList').success(function (data) {
                $scope.BoardList = data;
            });

            NetworkService.get('PraescioAdmin/GetState').success(function (data) {
                $scope.StateList = data;
            });

            NetworkService.get('PraescioCommon/GetPackage?userPackageRole=@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)').success(function (data) {
                $scope.PackageList = data;
            });

            

            if ('@ViewBag.AccountId' > 0) {
                NetworkService.get('PraescioCommon/GetUserRegisterationDetail?accountId=@ViewBag.AccountId').success(function (data) {
                    $scope.Student = data.account;
                    $scope.Student.Standard = data.account.StudentStandardId;

                    NetworkService.get('PraescioCommon/GetPackage?userPackageRole=@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)').success(function (data) {
                        $scope.PackageList = data;
                        $scope.Student.SelectPackage = { "id": 1, "text": "INSTITUTION PACKAGE 1", "amount": 2000 };
                    });


                    $scope.Student.DateOfBirth = $filter('date')($scope.Student.DateOfBirth, "dd/MM/yyyy");
                    $scope.Student.ActivateOn = $filter('date')($scope.Student.ActivateOn, "dd/MM/yyyy");
                    $scope.Student.ExpiredOn = $filter('date')($scope.Student.ExpiredOn, "dd/MM/yyyy");
                    $scope.Student.SelectPackage= { "id": 1, "text": "INSTITUTION PACKAGE 1", "amount": 2000 };


                    setTimeout(function () {
                        $scope.Student.Subject = data.subject;
                        $('#Subject').val(data.subject).trigger('chosen:updated');
                        $(".select2").select2();
                    }, 2000);
                });
            }

            $scope.ChangeBoard = function (boardname) {
                if (boardname > 1) {
                    $scope.Student.MediumId = 1;
                }
            }

            $scope.PackageChange = function () {
                var Parentobj = $filter('filter')($scope.PackageList, { id: $scope.Student.PackageId });
                $scope.Student.AmountPaid = Parentobj[0].amount;
            }

            $scope.ChangeStandard = function (id) {
                NetworkService.get('PraescioCommon/GetSubject?standardid=' + id + '&mediumid=' + $scope.Student.MediumId).success(function (data) {
                    $(".select2").select2().val('').trigger("chosen:updated");
                    $scope.SubjectList = data;
                });
            }

            $scope.reset = function () {
                $scope.Student = {};
                $('#Subject').val('').trigger('chosen:updated');
                $(".select2").select2();
            };


            $scope.ChangeExpiredDate = function () {
                var d = new Date(ConvertDateFormat($scope.Student.ActivateOn));

                var addDays = $scope.Student.VersionType == '@Praescio.BusinessEntities.Common.VersionType.Paid' ? 365 : 7;


                var year = d.getFullYear();
                var month = d.getMonth();
                var day = d.getDate();

                var date = new Date(year, month, day);
                var newdate = new Date(date);

                newdate.setDate(newdate.getDate() + addDays);
                $scope.Student.ExpiredOn = newdate;

                $scope.Student.ExpiredOn = $filter('date')($scope.Student.ExpiredOn, "dd/MM/yyyy");
            }

            $scope.RegisterStudent = function () {

                $scope.Student.Gender = $("input[name='gender']:checked").val();

                if (!$scope.StudentRegistration.$valid) {
                    $scope.submitted = true;
                }
                else {
                    var activateOn = $scope.Student.ActivateOn;
                    var expiredOn = $scope.Student.ExpiredOn;
                    $scope.Student.ActivateOn = ConvertDateFormat($scope.Student.ActivateOn);
                    $scope.Student.ExpiredOn = ConvertDateFormat($scope.Student.ExpiredOn);

                    $scope.savingRequest = true;
                    $scope.Student.IsIndividual = true;
                    $scope.Student.InstitutionAccountId = '@Praescio.Models.Common.ACCOUNT.InstitutionAccountId';
                    $scope.Student.AccountTypeId = '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)';
                    var data = '{"account":' + JSON.stringify($scope.Student) + ',"studentsubject":' + JSON.stringify($scope.Student.Subject) + ',"studentstandard":' + JSON.stringify($scope.Student.Standard) + ',"accounttypeid":' + '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)' + ',"isTeacher":' + false + '}';
                    console.log(data);
                    NetworkService.insert('PraescioAdmin/RegisterStudent', data).success(function (data) {
                        $scope.savingRequest = false;
                        $scope.Student.ActivateOn = activateOn;
                        $scope.Student.ExpiredOn = expiredOn;

                        swal({
                            title: "Student has been successfully registered!!!",
                            text: "Press Ok to Continue.",
                            type: "success",
                            confirmButtonColor: "green",
                            showCancelButton: false,
                        });

                        $scope.reset();
                    }).error(function (data) {
                        $scope.Student.ActivateOn = expiredOn;
                        $scope.Student.ExpiredOn = expiredOn;
                        $scope.savingRequest = false;
                        swal({
                            title: data,
                            text: "Press Ok to Continue.",
                            type: "error",                            
                            confirmButtonColor: "red",
                            showCancelButton: false,
                        });
                    });
                }
            }

            $scope.UpdateStudent = function () {

                $scope.Student.Gender = $("input[name='gender']:checked").val();

                if (!$scope.StudentRegistration.$valid) {
                    $scope.submitted = true;
                }
                else {
                    var activateOn = $scope.Student.ActivateOn;
                    var expiredOn = $scope.Student.ExpiredOn;
                    $scope.Student.ActivateOn = ConvertDateFormat($scope.Student.ActivateOn);
                    $scope.Student.ExpiredOn = ConvertDateFormat($scope.Student.ExpiredOn);

                    $scope.savingRequest = true;
                    $scope.Student.IsIndividual = true;
                    $scope.Student.InstitutionAccountId = '@Praescio.Models.Common.ACCOUNT.InstitutionAccountId';
                    $scope.Student.AccountTypeId = '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)';
                    var data = '{"account":' + JSON.stringify($scope.Student) + ',"studentsubject":' + JSON.stringify($scope.Student.Subject) + ',"studentstandard":' + JSON.stringify($scope.Student.Standard) + ',"accounttypeid":' + '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)' + ',"isTeacher":' + false + '}';
                    console.log(data);
                    NetworkService.insert('PraescioAdmin/UpdateStudent', data).success(function (data) {
                        $scope.savingRequest = false;
                        $scope.Student.ActivateOn = activateOn;
                        $scope.Student.ExpiredOn = expiredOn;

                        swal({
                            title: "Student has been successfully updated!!!",
                            text: "Press Ok to Continue.",
                            type: "success",
                            confirmButtonColor: "green",
                            showCancelButton: false,
                        });
                        $scope.reset();

                    }).error(function (data) {
                        $scope.Student.ActivateOn = expiredOn;
                        $scope.Student.ExpiredOn = expiredOn;
                        $scope.savingRequest = false;
                        swal({
                            title: data,
                            text: "Press Ok to Continue.",
                            type: "error",
                            confirmButtonColor: "red",
                            showCancelButton: false,
                        });
                    });
                }
            }

            $(".select2").select2();

            var pickerDefault = new Pikaday(
            {
                field: document.getElementById('ActivateDate'),
                format: 'DD/MM/YYYY',
                minDate: new Date()
            });
          
            var datepicker = $.fn.datepicker.noConflict();
            $.fn.bootstrapDP = datepicker;


            $("#DateOfBirth").bootstrapDP({
                endDate: new Date(),
                //maxDate: 0,
                format: "dd/mm/yyyy",
                autoclose: true,
                pickerPosition: "bottom-left"
            }).change(function () {
                console.log($(this).val());
            });

        });
    </script>
}
