
@{
    ViewBag.Title = "Student";
}

<div class="right_col" role="main" ng-controller="StudentRegisterCtrl">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Registration</h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">Student Registration</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Student Registration</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start form for validation -->
                        <form id="StudentRegistration" name="StudentRegistration" data-parsley-validate>

                            <div class="form-group">
                                <label for="UserName">UserName</label>
                                <input type="text" id="UserName" ng-model="Student.UserName" class="form-control" name="UserName" readonly onfocus="this.removeAttribute('readonly');" placeholder="Enter UserName" required />
                                <p ng-show="StudentRegistration.UserName.$invalid && (StudentRegistration.UserName.$dirty || submitted ||StudentRegistration.UserName.$touched )" class="text-danger">User Name is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" id="Password" ng-model="Student.Password" class="form-control" name="Password" readonly onfocus="this.removeAttribute('readonly');" placeholder="Enter Password" required />
                                <p ng-show="StudentRegistration.Password.$invalid && (StudentRegistration.Password.$dirty || submitted ||StudentRegistration.Password.$touched )" class="text-danger">Password is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" id="FirstName" ng-model="Student.FirstName" class="form-control" name="FirstName" placeholder="Enter First Name" required />
                                <p ng-show="StudentRegistration.FirstName.$invalid && (StudentRegistration.FirstName.$dirty || submitted ||StudentRegistration.FirstName.$touched )" class="text-danger">First Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="LastName" ng-model="Student.LastName" class="form-control" name="LastName" data-parsley-trigger="change" placeholder="Last Name" required />
                                <p ng-show="StudentRegistration.LastName.$invalid && (StudentRegistration.LastName.$dirty || submitted ||StudentRegistration.LastName.$touched )" class="text-danger">Last Name is required.</p>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                              @*<p>
                                    Male:
                                    <input type="radio" class="flat" name="gender" id="genderM" value="Male" checked="" required /> Female:
                                    <input type="radio" class="flat" name="gender" id="genderF" value="Female" />
                                </p>*@
                              <select id="Gender" name="Gender" ng-model="Student.Gender" class="input-sm form-control" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                              </select>
                            </div>

                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="text" id="DOB" ng-model="Student.DOB" class="form-control" name="DOB" data-parsley-trigger="change" placeholder="Enter DOB" required />
                                <p ng-show="StudentRegistration.DOB.$invalid && (StudentRegistration.DOB.$dirty || submitted ||StudentRegistration.DOB.$touched )" class="text-danger">DOB is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="regno">Students Parent’s Mobile Number</label>
                                <input type="text" id="regno" ng-model="Student.ParentMobileNo" class="form-control" name="regno" data-parsley-trigger="change" placeholder="Mobile Number" required />
                                <p ng-show="StudentRegistration.regno.$invalid && (StudentRegistration.regno.$dirty || submitted ||StudentRegistration.regno.$touched )" class="text-danger">Mobile is required.</p>
                            </div>

                            <div class="form-group">
                                <label for="InstitutionName">Student School Name</label>
                                <input type="text" id="InstitutionName" ng-model="Student.InstitutionName" class="form-control" name="InstitutionName" data-parsley-trigger="change" placeholder="Institution Name" required />
                                <p ng-show="StudentRegistration.InstitutionName.$invalid && (StudentRegistration.InstitutionName.$dirty || submitted ||StudentRegistration.InstitutionName.$touched )" class="text-danger">Institution Name is required.</p>
                                @*<select id="School" name="School" class="input-sm form-control" ng-model="Student.SchoolId" ng-options="option.Id as option.SchoolName for option in SchoolList" ng-change="" ng-required="true">
                                        <option value="">-- Select School --</option>
                                    </select>*@
                            </div>

                            <div class="form-group">
                                <label for="InstitutionAddress">School Address</label>
                                <textarea id="InstitutionAddress" required="required" ng-model="Student.InstitutionAddress" class="form-control" name="InstitutionAddress" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." placeholder="Enter School Address"
                                          data-parsley-validation-threshold="10"></textarea>
                                <p ng-show="StudentRegistration.InstitutionAddress.$invalid && (StudentRegistration.InstitutionAddress.$dirty || submitted ||StudentRegistration.InstitutionAddress.$touched )" class="text-danger">Institution Address is required.</p>
                            </div>

                            @*<div class="form-group">
                                    <label for="Version">Select Version</label>
                                    <select id="Version" name="Version" class="input-sm form-control" ng-model="Student.VersionType" ng-options="option.Name as option.Name for option in VersionType" ng-change="" ng-required="true">
                                        <option value="">-- Select Version --</option>
                                    </select>
                                </div>*@

                            <div class="form-group">
                                <label for="heard">Select Board</label>
                                <select id="Board" name="Board" class="input-sm form-control select2" ng-model="Student.BoardId" ng-options="option.Id as option.BoardName for option in BoardList" ng-change="" ng-required="true">
                                    <option value="">-- Select Board --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="heard">Select Subject</label>
                                <select class="input-sm form-control select2" id="SubjectName" name="SubjectName"
                                        data-placeholder="Select Subject" ng-required="true" ng-model="Student.Subject">
                                    <option value=""></option>
                                    <option ng-repeat="option in SubjectList" value="{{option.Id}}">{{option.SubjectName}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="heard">Select Standard</label>
                                <select class="input-sm form-control select2" ng-model="Student.StudentStandardId" id="Standard" name="Standard"
                                        data-placeholder="Select Standard" ng-required="true">
                                    <option value=""></option>
                                    <option ng-repeat="option in StandardList" value="{{option.Id}}">{{option.StandardName}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="schoolname">Mother's Name</label>
                                <input type="text" id="MotherName" class="form-control" name="MotherName" ng-model="Student.MotherName" placeholder="Enter Mother's First Name" required />
                                <p ng-show="StudentRegistration.MotherName.$invalid && (StudentRegistration.MotherName.$dirty || submitted ||StudentRegistration.MotherName.$touched )" class="text-danger">Mother Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="schoolname">Father's Name</label>
                                <input type="text" id="FatherName" class="form-control" name="FatherName" ng-model="Student.FatherName" placeholder="Enter Father's First Name" required />
                                <p ng-show="StudentRegistration.FatherName.$invalid && (StudentRegistration.FatherName.$dirty || submitted ||StudentRegistration.FatherName.$touched )" class="text-danger">Father Name is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Id</label>
                                <input type="text" id="ParentEmail" class="form-control" name="ParentEmail" ng-model="Student.ParentEmail" placeholder="Enter Parent Email" required />
                                <p ng-show="StudentRegistration.ParentEmail.$invalid && (StudentRegistration.ParentEmail.$dirty || submitted ||StudentRegistration.ParentEmail.$touched )" class="text-danger">Parent Email is required.</p>
                            </div>
                            <div class="form-group">
                                <label for="phoneno">Phone No.</label>
                                <input type="text" id="ParentNo" class="form-control" name="ParentNo" ng-model="Student.ParentNo" placeholder="Enter Parent Mobile No" required />
                                <p ng-show="StudentRegistration.ParentNo.$invalid && (StudentRegistration.ParentNo.$dirty || submitted ||StudentRegistration.ParentNo.$touched )" class="text-danger">Parent Mobile No is required.</p>
                            </div>

                            @*<div class="form-group">
                                    <label for="Version">Select Activate Date</label>
                                    <input type="text" id="ActivateDate" name="ActivateDate" ng-model="Student.ActivateDate" class="form-control" data-space="false">
                                </div>

                                <div class="form-group">
                                    <label for="Version">Select ExpiredDate Date</label>
                                    <input type="text" id="ExpiredDate" name="ExpiredDate" ng-model="Student.ExpiredDate" class="form-control" data-space="false">
                                </div>*@

                            <br />
                            <span class="btn btn-primary">Reset</span>
                            <span class="btn btn-primary" ng-click="RegisterStudent()" ng-disabled="savingRequest">
                                Submit
                                <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                            </span>
                        </form>
                        <!-- end form for validations -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">


        myApp.controller('StudentRegisterCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            $scope.Student = {};
            $scope.Student.ActivateDate = '@DateTime.Parse(DateTime.Now.ToString().Trim()).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)';
            $scope.Student.ExpiredDate = '@DateTime.Parse(DateTime.Now.AddYears(1).ToString().Trim()).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)';
            $scope.TitleName = 'Register Student'

            $scope.StandardList = [{ Id: 1, StandardName: '5th' }, { Id: 2, StandardName: '6th' }, { Id: 3, StandardName: '7th' },
                               { Id: 4, StandardName: '8th' }, { Id: 5, StandardName: '9th' }, { Id: 6, StandardName: '10th' }]

            $scope.SubjectList = [{ Id: 1, SubjectName: 'English' }, { Id: 2, SubjectName: 'Hindi' }, { Id: 3, SubjectName: 'Marathi' },
                               { Id: 4, SubjectName: 'Science' }, { Id: 5, SubjectName: 'Mathematics' }];

            @*$scope.VersionType = [{ Id: 1, Name: '@Praescio.Domain.AppCode.VersionType.FullVersion' }, { Id: 2, Name: '@Praescio.Domain.AppCode.VersionType.TrialVerion' }];*@

            NetworkService.get('PraescioAdmin/GetBoardList').success(function (data) {
                $scope.BoardList = data;
            });

            NetworkService.get('PraescioAdmin/GetSchoolList').success(function (data) {
                $scope.SchoolList = data;
            });

            NetworkService.get('PraescioAdmin/GetState').success(function (data) {
                $scope.StateList = data;
            });

            $scope.RegisterStudent = function () {

                //$scope.Student.Gender = $("input[name='gender']:checked").val();

                if (!$scope.StudentRegistration.$valid) {
                    $scope.submitted = true;
                }
                else {
                    var activateDate = $scope.Student.ActivateDate;
                    var expiredDate = $scope.Student.ExpiredDate;
                    $scope.Student.ActivateDate = ConvertDateFormat($scope.Student.ActivateDate);
                    $scope.Student.ExpiredDate = ConvertDateFormat($scope.Student.ExpiredDate);

                    $scope.savingRequest = true;
                    $scope.Student.IsIndividual = false;
                    $scope.Student.InstitutionAccountId = '@Praescio.Models.Common.ACCOUNT.InstitutionAccountId';
                    $scope.Student.AccountTypeId = '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.Student)';
                    var dob = moment($scope.Student.DateOfBirth, 'DD/MM/YYYY');
                    $scope.Student.DateOfBirth = dob.format('YYYY-MM-DD HH:mm:ss.SSS Z');
                    var data = '{"account":' + JSON.stringify($scope.Student) + ',"studentsubject":' + JSON.stringify($scope.Student.Subject) + ',"accounttypeid":' + '@Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualStudent)' + ',"isTeacher":' + false + '}';
                    NetworkService.insert('PraescioAdmin/RegisterStudent', data).success(function (data) {
                        $scope.savingRequest = false;
                        $scope.Student.ActivateDate = activateDate;
                        $scope.Student.ExpiredDate = expiredDate;

                        swal({
                            title: "Student has been successfully registered!!!",
                            text: "Press Ok to Continue.",
                            type: "success",
                            confirmButtonColor: "green",
                            showCancelButton: false,
                        });
                    }).error(function (data) {
                        $scope.Student.ActivateDate = activateDate;
                        $scope.Student.ExpiredDate = expiredDate;
                        $scope.savingRequest = false;
                        swal({
                            title: data,
                            text: "Press Ok to Continue.",
                            type: "error",
                            confirmButtonColor: "red",
                            showCancelButton: false,
                        });
                    });
                }
            }

            $(".select2").select2();

            var pickerDefault = new Pikaday(
            {
                field: document.getElementById('ActivateDate'),
                format: 'DD/MM/YYYY',
                minDate: new Date()
            });
            var pickerDefault = new Pikaday(
            {
                field: document.getElementById('ExpiredDate'),
                format: 'DD/MM/YYYY',
                minDate: new Date()
            });
        });
    </script>
}
