@{
    ViewBag.Title = "TestHistory";
}

<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .green {
        position: absolute;
        left: 10px;
        top: 16px;
        color: #37c704;
        font-size: 32px;
    }

  .orange {
    position: absolute;
    left: 10px;
    top: 16px;
    color: #ffe207;
    font-size: 32px;
  }

    body {
        padding: 0 2em;
        font-size: 1.3em;
        font-family: 'Roboto', 'sans-serif';
        color: white;
        background: black;
        input-placeholder: red;
    }

    h1 {
        color: papayawhip;
    }

    /* List styling */
    .featureList, .featureList ul {
        margin-top: 0;
        padding-left: 2em;
        list-style-type: none;
    }

        .featureList li:before {
            position: absolute;
            margin-left: 7em;
            margin-top: -0.5em;
            font-weight: bold;
        }

        .featureList li.tick:before {
            position: absolute;
            margin-left: 7em;
            margin-top: -0.5em;
            content: "\2713";
            color: black;
            font-size: 14px;
        }

        .featureList li.cross:before {
            content: "\2717";
            color: crimson;
        }

  .tick1 {
    position: absolute;
    left: 10px;
    top: 16px;
    color: yellow;
    font-size: 32px;
  }
  .info-box-2 .icon {
    width: 40px;
  }
  .info-box-2 .content {
    margin: 0;
  }
  .info-box-2 .content .text {
    font-size: 14px;
  }
  .info-box-2 .content a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .x_title {
    color: #333;
  }
</style>
<!-- page content -->
<div class="right_col" role="main" ng-controller="TestHistoryCtrl" ng-init="LoadContent();">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>
            <div class="title_right">
                <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action(" dashboard", "PraescioAdmin" )"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li><a href="#"><i class="fa fa-list"></i> View Lessons</a></li>
                            <li class="active">List Of Lessons</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Of Lessons </h2>

                        <div class="clearfix"></div>
                    </div>

                    @if (Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Teacher || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Admin || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.SuperAdmin)
                    {
                        <a class="btn btn-success" style="float:left" ng-click="ChangedAssignmentStatus();" ng-if="UserAssessmentDetail.StatusId==@Convert.ToInt16(@Praescio.BusinessEntities.Common.AssignmentStatus.CheckedByTeacher)" ng-disabled="savingRequest">
                            Send to Student
                            <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                        </a>
                    }

                    <div class="x_content">
                        <div class="body">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <font style="color:#575252"><b>{{Assignment.Title}}</b></font>
                                    <div id="AssignmentPDF"></div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;">
                                    <div class="info-box-2 bg-red">
                                        <div class="icon">
                                          <ul class="featureList">
                                            <li class="green">&#10004;</li>
                                          </ul>
                                        </div>
                                        <div class="content">
                                            <a href="#"><div class="text">MEANING OF LESSON</div></a>
                                            @*<a href="@Url.Action("ViewQuestionList", "Praescio" ,new {assignmentid=ViewBag.assignmentid, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.MeaningOfLesson) })"><div class="text">MEANING OF LESSON</div></a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;">
                                    <div class="info-box-2 bg-indigo">
                                        <div class="icon">
                                          <ul class="featureList">
                                            <li class="green">&#10004;</li>
                                          </ul>
                                        </div>
                                        <div class="content">
                                            <a href="#"><div class="text">SYNONYMS IN LESSON</div></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;">
                                    <div class="info-box-2 bg-purple">
                                        <div class="icon">
                                          <ul class="featureList">
                                            <li class="green">&#10004;</li>
                                          </ul>
                                        </div>
                                        <div class="content">
                                            <a href="#"><div class="text">ANTONYMS IN LESSON</div></a>
                                            <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('WriteReason',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.WriteReason));">
                                    <div class="info-box-2 bg-purple" id="WriteReason">
                                        <div class="icon">
                                          <ul class="featureList" ng-if="QuestionList">
                                            <li class="tick1">&#10004;</li>
                                          </ul>
                                        </div>
                                        <div class="content">
                                            <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.WriteReason))"  href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.WriteReason), userId = ViewBag.UserId })"><div class="text">WRITE REASON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- #END# Counter Examples -->
                                <!-- Hover Zoom Effect -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('FillInTheBlanks',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.FillInTheBlanks));">
                                        <div class="info-box-2 bg-pink hover-zoom-effect" id="FillInTheBlanks">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                @*<a href="@Url.Content("~/InstitutionTeacher/CheckFillInTheBlanks")?assignmentid=@ViewBag.AssignmentId&userId=@ViewBag.UserId"><div class="text">FILL IN THE BLANKS</div></a>*@
                                                <a href="#"><div class="text">FILL IN THE BLANKS</div></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('MatchTheFollowing',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.MatchTheFollowing));">
                                        <div class="info-box-2 bg-blue hover-zoom-effect" id="MatchTheFollowing">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="green">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a href="#"><div class="text">MATCH THE FOLLOWING</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('MCQ',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.MCQ));">
                                        <div class="info-box-2 bg-light-blue hover-zoom-effect" id="MCQ">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="green">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a href="#"><div class="text">MULTIPLE CHOICE QUESTIONS</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('TrueFalse',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.TrueFalse));">
                                        <div class="info-box-2 bg-cyan hover-zoom-effect" id="TrueFalse">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a href="#"><div class="text">TRUE/FALSE QUESTIONS</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- #END# Hover Zoom Effect -->
                                <!-- Hover Expand Effect -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('OneSentenceAnswer',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.OneSentenceAnswer));">
                                        <div class="info-box-2 bg-teal hover-zoom-effect" id="OneSentenceAnswer">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.OneSentenceAnswer))" href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.OneSentenceAnswer), userId = ViewBag.UserId })"><div class="text">WRITE ANSWER IN ONE SENTENCE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('DescribeBriefly',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DescribeBriefly));">
                                        <div class="info-box-2 bg-green hover-zoom-effect" id="DescribeBriefly">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.DescribeBriefly))" href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DescribeBriefly), userId = ViewBag.UserId })"><div class="text">DESCRIBE BRIEFLY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('DifferentiateBetween',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DifferentiateBetween));">
                                        <div class="info-box-2 bg-light-green hover-zoom-effect" id="DifferentiateBetween">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.DifferentiateBetween))" href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DifferentiateBetween), userId = ViewBag.UserId })"><div class="text">DIFFERENTIATE BETWEEN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('Exercise',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.Exercise));">
                                        <div class="info-box-2 bg-lime hover-zoom-effect" id="Exercise">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.Exercise))" href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.Exercise), userId = ViewBag.UserId })"><div class="text">EXERCISE [other type of Question] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('WriteShortNote',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.WriteShortNote));">
                                        <div class="info-box-2 bg-red" id="WriteShortNote">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="tick1">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a ng-click="IsAlreadyChecked($event,@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.WriteShortNote))" href="@Url.Action("CheckStudentLesson", "InstitutionTeacher" ,new {assignmentid=ViewBag.AssignmentId, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.WriteShortNote), userId = ViewBag.UserId })"><div class="text">WRITE SHORT NOTE ON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="position:relative;" ng-if="isQuestionContain('TopicConcept',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.TopicConcept));">
                                        <div class="info-box-2 bg-indigo" id="TopicConcept">
                                            <div class="icon">
                                              <ul class="featureList" ng-if="QuestionList">
                                                <li class="green">&#10004;</li>
                                              </ul>
                                            </div>
                                            <div class="content">
                                                <a href="#"><div class="text">CONCEPT OF ANY TOPIC OF LESSON</div></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="info-box-2 bg-yellow">
                                            <div class="icon">
                                            </div>
                                            <div class="content">
                                                @*<ul class="featureList" ng-if="isQuestionContain(@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.SynonymsOfLesson));">
                                                    <li class="tick1">&#10004;</li></ul>*@
                                                @*<a href="video_history.html"><div class="text">VIEW VIDEO</div></a>*@
                                              <a href="@Url.Action("ViewVideo", "Praescio" ,new {assignmentid=ViewBag.Assignmentid, typeofquestion=Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.SynonymsOfLesson) })"><div class="text">VIDEO</div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        myApp.controller('TestHistoryCtrl', function ($scope, $rootScope, $filter, NetworkService, $timeout) {
            var formdata = new FormData();

            $scope.TitleName = 'Test History'

            $scope.LoadContent = function () {
                NetworkService.get('PraescioCommon/GetQuestionByAssignmentId?assignmentid=@ViewBag.Assignmentid&userId=@ViewBag.UserId').success(function (data) {
                    $scope.Assignment = data.Assignment;
                    $scope.QuestionList = data.Question;
                    $scope.QuestionAssessment = data.QuestionAssessmentDetail;
                    $scope.UserAssessmentDetail = data.UserAssessmentDetail;

                    if (data.Assignment.UploadFileSrc != "" && data.Assignment.UploadFileSrc != null) {
                      $('#AssignmentPDF').append('<embed id="pdfFile" type="application/pdf" src="@Url.Content("~/")' + data.Assignment.UploadFileSrc + '" height="500px" width="80%" internalinstanceid="37" title=""><br><br><br>');
                    }

                    // TODO - check if all question types are automatically checked, and if so, allow send to student
                    if (data.UserAssessmentDetail.StatusId == parseInt("@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentStatus.SubmittedByStudent)")) {
                      NetworkService.get('InstitutionTeacher/AssignmentCheckTeacherSendStudent?assignmentid=@ViewBag.Assignmentid&studentId=@ViewBag.UserId').success(function (data) {
                        if (data.success) {
                          $scope.UserAssessmentDetail.StatusId = parseInt("@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentStatus.CheckedByTeacher)");
                        }
                      });
                    }
                });
            }

            $scope.isCheckedByTeacher = function (id, questionType) {
                var result = false;

                //setTimeout(function () {
                //console.log($scope.QuestionList);

                    $.each($scope.QuestionList, function (i, e) {
                            if ($scope.QuestionList[i].QuestionTypeId == questionType) {
                                if ($scope.QuestionList[i].IsCheckedByTeacher == true) {
                                    $('#' + id).find('li').removeClass('tick1').addClass('green');
                                }
                            }
                    });
                //}, 1000);
            }

            $scope.IsAlreadyChecked = function ($event, questiontype) {

                var prevent = false;
                $.each($scope.QuestionList, function (i, e) {
                    if ($scope.QuestionList[i].IsCheckedByTeacher == true && $scope.QuestionList[i].QuestionTypeId == questiontype) {
                        prevent = true;
                    }
                })

                if (prevent) {
                    alert('Already submitted!!!');
                    $event.preventDefault();
                }
            }

            $scope.ChangedAssignmentStatus = function () {

                NetworkService.insert('PraescioCommon/ChangedAssignmentStatus?assignmentid=@ViewBag.assignmentid&assignmentstatusid=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentStatus.SubmittedByTeacher)&studentId=@(ViewBag.UserId)', null).success(function (data) {
                    swal({
                        title: "Your assignment has been Successfully send to student !!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,

                    });
                    $scope.UserAssessmentDetail.StatusId = @(Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentStatus.SubmittedByTeacher));
                });
            }

            $scope.isQuestionContain = function (id, questionType) {
              var result = false;

              $.each($scope.QuestionList, function (i, e) {
                //console.log('$scope.QuestionList[i].QuestionType', $scope.QuestionList[i].QuestionType.Name)
                if ($scope.QuestionList[i].QuestionTypeId == questionType) {
                  result = true;

                  if ($scope.QuestionList[i].IsCheckedByTeacher == true) {
                    $('#' + id).find('li').removeClass('tick1').addClass('green');
                  } else {
                    $.each($scope.QuestionAssessment, function (i, e) {
                      if ($scope.QuestionAssessment[i].Question.QuestionTypeId == questionType) {
                        if ($scope.QuestionAssessment[i].UserAssessment.IsFinalScore) {
                          $('#' + id).find('li').removeClass('tick1').addClass('green');
                        }
                      }
                    });
                  }
                }
              });

              //var qts = 0;
              //var assessment = 0;
              //var userSubmittedCount = 0;
              //$.each($scope.QuestionAssessment, function (i, e) {
              //  if ($scope.QuestionAssessment[i].Question.QuestionTypeId == questionType) {
              //    qts = qts + 1;
              //    //console.log(questionType, i)
              //    /*if ($scope.QuestionAssessment[i].UserAssessment != null) {
              //        assessment = assessment + 1;
              //    }*/
              //    if ($scope.QuestionAssessment[i].Question.IsUserSubmitted) {
              //      userSubmittedCount++;
              //    }
              //  }
              //});
              ////console.log(id, questionType, qts, userSubmittedCount)
              //if (qts > 0 && qts == userSubmittedCount) {
              //  $('#' + id).find('li').removeClass('tick1').addClass('green');
              //}
              //else {
              //  $('#' + id).find('li').removeClass('tick1').addClass('orange');
              //}

              return result;
            }


        });
    </script>
}
