@using Praescio.BusinessEntities.Common

<ul class="nav side-menu">

    <li>
        <a href="@Url.Action("Dashboard", "InstitutionStudent")"><i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        <a href="@Url.Action("StudentProfile", "InstitutionStudent")"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li>
        <a href="@Url.Action("SchoolProfile", "InstitutionStudent")"><i class="fa fa-graduation-cap"></i>  School Profile</a>
    </li>
    <li>
        <a href="@Url.Action("ViewAssignment", "Praescio", new { assignmentType = (int)AssignmentType.InstitutionAssignment})"><i class="fa fa-user"></i> School Assignment List</a>
    </li>
    <li>
        <a href="@Url.Action("ViewAssignment", "Praescio", new { assignmentType = (int)AssignmentType.PraescioLesson })"><i class="fa fa-graduation-cap"></i>Praescio Lessons</a>
    </li>
    <li>
        <a href="@Url.Action("ViewAssignment", "Praescio", new { assignmentType = (int)AssignmentType.PExtra })"><i class="fa fa-graduation-cap"></i>P-Extra Act</a>
    </li>
     
  
    <li>
        <a><i class="fa fa-deviantart"></i> Personal Development <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Handwriting Development" href="@Url.Action("HandwritingDev", "InstitutionStudent")"><i title="Handwriting Development"></i> <span class="nav-label"> Handwriting Development</span></a>
            </li>
            <li>
                <a title="Pronunciation Development" href="@Url.Action("PronunciationDev", "InstitutionStudent")"><i title="Pronunciation Development"></i> <span class="nav-label"> Pronunciation Development</span></a>
            </li>
        </ul>
    </li>

    <li>
        <a><i class="fa fa-history"></i> History of Exam <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Praescio Lesson" href="@Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.All })"><i title="Register Teacher"></i> <span class="nav-label">Praescio Lessons</span></a>
            </li>
            <li>
                <a title="Register Student" href="@Url.Action("TestHistory", "InstitutionStudent")"><i title="Register Student"></i> <span class="nav-label">School Teacher Assignment</span></a>
            </li>
            <li>
                <a title="Register Student" href="@Url.Action("TestHistory", "InstitutionStudent")"><i title="Register Student"></i> <span class="nav-label">P-Extra Act</span></a>
            </li>
        </ul>
    </li>




    <li>
        <a><i class="fa fa-square"></i> Edu Study<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Course Completion Status" href="@Url.Action("CourseCompletionStatus", "InstitutionStudent")"><i title="Course Completion Status"></i> <span class="nav-label"> Course Completion Status</span></a>
            </li>
            <li>
                <a title="Overall Progres" href="@Url.Action("OverallProgress", "InstitutionStudent")"><i title="Overall Progres"></i> <span class="nav-label"> Overall Progress</span></a>
            </li>
            <li>
                <a title=" Handwriting Progress" href="@Url.Action("ViewHandwritingDev", "InstitutionStudent")"><i title="Handwriting Progress"></i> <span class="nav-label"> Handwriting Progress</span></a>
            </li>

            <li>
                <a title="Pronunciation Progress" href="@Url.Action("ViewPronunciationDev", "InstitutionStudent")"><i title="Pronunciation Progress"></i> <span class="nav-label"> Pronunciation Progress</span></a>
            </li>
        </ul>
    </li>

    <li>
        <a><i class="fa fa-paint-brush"></i> Upload Creativity <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Creativity" href="@Url.Action("UploadCreativity", "InstitutionStudent")"><i title="Creativity"></i> <span class="nav-label"> Creativity</span></a>
            </li>
            <li>
                <a title="History" href="@Url.Action("CreativityHistory", "InstitutionStudent")"><i title="History"></i> <span class="nav-label">History</span></a>
            </li>
           
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-plus"></i>Knowledge Bank<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddKnowledgeBank", "Praescio")">Add Knowledge Bank</a></li>
            <li><a href="@Url.Action("ViewKnowledgeBank", "Praescio")">View Knowledge Bank</a></li>
            <li><a href="@Url.Action("KnowledgeBankHistory", "Praescio")">Knowledge Bank History</a></li>
        </ul>
    </li>
  </ul>