<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        <a><i class="fa fa-edit"></i> Registration <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Register School" href="@Url.Action("RegisterSchool", "PraescioAdmin")"><i title="Register School"></i> <span class="nav-label"> School</span></a>
            </li>
            <li>
                <a title="Register Teacher" href="@Url.Action("RegisterIndividualTeacher", "PraescioAdmin")"><i title="Register Teacher"></i> <span class="nav-label"> Teacher</span></a>
            </li>
            <li>
                <a title="Register Student" href="@Url.Action("RegisterIndividualStudent", "PraescioAdmin")"><i title="Register Student"></i> <span class="nav-label"> Student</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a title="School List" href="@Url.Action("SchoolList", "PraescioAdmin")"><i title="School List" class="fa fa-university"></i> <span class="nav-label"> School List</span></a>
    </li>
    <li>
        <a><i class="fa fa-user"></i> Teacher List <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Trial List" href="@Url.Action("TeacherList", "Praescio", new { isIndividual = true, version = Praescio.BusinessEntities.Common.VersionType.Trial })"><i title="Trial Version" class="fa fa-university"></i> <span class="nav-label"> Trial Version</span></a>
            </li>
            <li>
                <a title="Paid Version" href="@Url.Action("TeacherList", "Praescio", new { isIndividual = true, version = Praescio.BusinessEntities.Common.VersionType.Paid })"><i title="Paid Version" class="fa fa-university"></i> <span class="nav-label"> Paid Version</span></a>
            </li>
        </ul>
    </li>

    <li>
        <a><i class="fa fa-user"></i> Students List <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Trial List" href="@Url.Action("StudentList", "Praescio", new { isIndividual = true, version = Praescio.BusinessEntities.Common.VersionType.Trial })"><i title="Trial Version" class="fa fa-university"></i> <span class="nav-label"> Trial Version</span></a>
            </li>
            <li>
                <a title="Paid Version" href="@Url.Action("StudentList", "Praescio", new { isIndividual = true, version = Praescio.BusinessEntities.Common.VersionType.Paid })"><i title="Paid Version" class="fa fa-university"></i> <span class="nav-label"> Paid Version</span></a>
            </li>
        </ul>
    </li>

    <li>
        <a><i class="fa fa-user"></i> Lessons <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Define Lessons" href="@Url.Action("AddAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PraescioLesson)"><i title="Add Lessons" class="fa fa-university"></i> <span class="nav-label"> Define Lessons</span></a>
            </li>
            <li>
                <a title="Upload Lesson Question" href="@Url.Action("UploadAssignmentQuestion", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PraescioLesson)"><i title="Add Lessons" class="fa fa-university"></i> <span class="nav-label"> Upload Lesson Question</span></a>
            </li>
            <li>
                <a title="View Lessons" href="@Url.Action("ViewAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PraescioLesson)"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Lessons</span></a>
            </li>
            <li>
                <a href="@Url.Action("CheckAssignment", "InstitutionTeacher")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PraescioLesson)"><i class="fa fa-check"></i>Check Lesson</a>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-user"></i> P-Extra <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Define P-Extra" href="@Url.Action("AddAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PExtra)"><i title="Add PExtra" class="fa fa-university"></i> <span class="nav-label"> Define P-Extra</span></a>
            </li>
            <li>
                <a title="Upload P-Extra Question" href="@Url.Action("UploadPExtraQuestion", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PExtra)"><i title="Upload PExtra" class="fa fa-university"></i> <span class="nav-label"> Upload P-Extra Question</span></a>
            </li>
            <li>
                <a title="View P-Extra" href="@Url.Action("ViewAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PExtra)"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View P-Extra</span></a>
            </li>
            <li>
                <a href="@Url.Action("CheckAssignment", "InstitutionTeacher")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.PExtra)"><i class="fa fa-check"></i>Check P Extra</a>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-word-o"></i>Question <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddMCQ", "Praescio")"> Add MCQ</a>
            <li><a href="@Url.Action("AddVideo", "Praescio")"> Add Video</a>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-text"></i> Handwriting<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Add Handwriting" href="@Url.Action("AddHandwritingAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.Handwriting)"><i title="Add Assignment" class="fa fa-university"></i> <span class="nav-label"> Add Handwriting</span></a>
            </li>           
            <li>
                <a title="View Handwriting" href="@Url.Action("ViewAssignmentHKP", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.Handwriting)"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Handwriting</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-text"></i> Pronunciation<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                <a title="Add Assignment" href="@Url.Action("AddHandwritingAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.Pronounciation)"><i title="Add Assignment" class="fa fa-university"></i> <span class="nav-label"> Add Assignment</span></a>
            </li>
            <li>
                <a title="View Assignment" href="@Url.Action("ViewAssignmentHKP", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.Pronounciation)"><i title="View Lessons" class="fa fa-university"></i> <span class="nav-label"> View Assignment</span></a>
            </li>
        </ul>
    </li>
    @*<li>
            <a><i class="fa fa-file-text"></i> Lessons <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="add_lesson.html"> Add Lessons</a>
                <li><a href="view_lessons.html">View Lessons</a></li>
            </ul>
        </li>*@
    <li>
        <a><i class="fa fa-file-word-o"></i>Synonyms <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddSynonyms", "Praescio")"> Add Synonyms</a>
            <li><a href="@Url.Action("ViewSynonyms", "Praescio",new { categoryTypeId=Convert.ToInt16(Praescio.BusinessEntities.Common.CategoryType.Synonyms)})">View Synonyms</a></li>
        </ul>
    </li>
    <li>
        <a><i class="fa fa-file-word-o"></i>Antonyms <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddAntonym", "Praescio")"> Add Antonyms</a>
            <li><a href="@Url.Action("ViewAntonym", "Praescio",new { categoryTypeId=Convert.ToInt16(Praescio.BusinessEntities.Common.CategoryType.Antonyms)})">View Antonyms</a></li>
        </ul>
    </li>
    @*<li>
            <a><i class="fa fa-question"></i> Add Questions <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    <a href="#">Write A Reason<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_question.html"> Add Questions</a></li>
                        <li><a href="view_question.html"> View Questions</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Fill In The Blanks<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_fill_in_the_blanks.html">Add Fill In The Blanks</a></li>
                        <li><a href="view_blanks.html">View Fill In The Blanks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Match The Following<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_match_the_following.html">Add Matches</a></li>
                        <li><a href="view_match_the_following.html">View Matches</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">True/False Questions<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_true_false.html">Add True/False Questions</a></li>
                        <li><a href="view_true_false.html">View True/False Questions</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">One Sentenced Answers<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_answer_in_one_sentence.html">Add Question</a></li>
                        <li><a href="view_answer_in_one_sentence.html">View Question</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">MCQ's<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_mcq.html">Add Question</a></li>
                        <li><a href="view_mcq.html">View Question</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Descibe Briefly<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_describe_question.html">Add Question</a></li>
                        <li><a href="view_describe_question.html">View Question</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Differentiate Between<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_differentiate_between.html">Add Question</a></li>
                        <li><a href="view_differentiate_between.html">View Question</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Write Short Note On<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_short_note.html">Add Note</a></li>
                        <li><a href="view_short_note.html">View Note</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Topic Concept<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="add_topic_concept.html">Add Topic Concept</a></li>
                        <li><a href="view_topic_concept.html">View Topic Concept</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@
    @*<li>
        <a><i class="fa fa-file-word-o"></i>Edu Study <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("CourseCompletionStatus", "PraescioAdmin")"> Course Completion Status</a>
            <li><a href="@Url.Action("OverallProgress", "PraescioAdmin")">Overall Progress</a></li>
            <li><a href="@Url.Action("HandwritingDevelopment", "PraescioAdmin")">Handwriting Development</a></li>
            <li><a href="@Url.Action("PronunciationDevelopment", "PraescioAdmin")">Pronunciation Development</a></li>
            <li><a href="@Url.Action("TeachersAssignment", "PraescioAdmin")">Teachers Assignment</a></li>
            <li><a href="@Url.Action("SchoolNotice", "PraescioAdmin")">School Notice</a></li>
            <li><a href="@Url.Action("SchoolInformation", "PraescioAdmin")">School Information</a></li>
        </ul>
    </li>*@

    <li>
      <a href="@Url.Action("CreativityUploads", "Parents")"><i class="fa fa-paint-brush"></i>Creativity Uploads</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-plus"></i>Knowledge Bank<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddKnowledgeBank", "Praescio")">Add Knowledge Bank</a></li>
            <li><a href="@Url.Action("ViewKnowledgeBank", "Praescio")">View Knowledge Bank</a></li>
            <li><a href="@Url.Action("KnowledgeBankHistory", "Praescio")">Knowledge Bank History</a></li>
        </ul>
    </li>
    <li>
        <a href="@Url.Action("SchoolNotice", "InstitutionTeacher")"><i class="fa fa-sticky-note"></i>Notice</a>
    </li>
    <li>
        <a href="@Url.Action("Help", "Praescio")"><i class="fa fa-circle"></i>Help</a>
    </li>

</ul>

