<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Praescio | School </title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="~/Content/Schoolhtml/assets/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Schoolhtml/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Schoolhtml/assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/Schoolhtml/assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/Schoolhtml/assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/Schoolhtml/assets/vendors/jquery-datatable/jquery.dataTables.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href="~/Content/Schoolhtml/assets/build/css/custom.css" rel="stylesheet">
    <link href="~/Content/Schoolhtml/assets/build/css/style.css" rel="stylesheet">
    <link href="~/Content/Schoolhtml/assets/build/css/AdminLTE.css" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"> <span>Envantio High School</span></a>
                </div>

                <div class="clearfix"></div>
                <aside id="leftsidebar" class="sidebar">
                    <!-- User Info -->
                    <div class="user-info">
                        <div class="image">
                            <img src="~/Content/Schoolhtml/assets/production/images/school.png" width="48" height="48" alt="User" />
                        </div>
                        <div class="info-container">
                            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Envantio High School</div>
                            <div class="email">envantio@gmail.com</div>
                        </div>
                    </div>
                    <!-- #User Info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("SchoolAdmin", "SchoolAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SchoolProfile", "SchoolAdmin")"><i class="fa fa-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SchoolStandared", "SchoolAdmin")"><i class="fa fa-graduation-cap"></i> Standards</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Teacher <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("AddTeacher", "SchoolAdmin")">Add Teacher</a></li>
                                        <li>
                                            <a href="@Url.Action("ViewTeacher", "SchoolAdmin")">View Teacher</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Student <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("AddStudent", "SchoolAdmin")">Add Student</a></li>
                                        <li><a href="@Url.Action("ViewStudent", "SchoolAdmin")">View Student</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="select_standard.html"><i class="fa fa-user"></i> Student ID's</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-paint-brush"></i> Knowledge Bank<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="knowledge_bank.html">Add Knowledge Bank</a></li>
                                        <li><a href="history_knowledge_bank.html">History</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-file"></i> Assignments<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="add_assignment.html">Add Assignments for Teacher</a></li>
                                        <li><a href="add_handwritting_asgmnt.html">Handwritting Assignments</a></li>
                                        <li><a href="add_pronunciation_asgmnt.html">Pronunciation Assignments</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-file"></i> Notice Board <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="add_notice.html">Add Notice Board</a></li>
                                        <li><a href="view_notice.html">History</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>

                </aside>
                <!-- /sidebar menu -->
            </div>
        </div>

        @RenderBody()
        <!-- Footer -->
        <footer>
            <div class="pull-right">
                <strong>Copyright &copy; 2017 <a href="http://www.veetrontechnology.com/" target="_blank">Veetron Technology</a>.</strong> All rights reserved.
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- #Footer -->
    </div>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="~/Content/assets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/assets/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/assets/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/Content/assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="~/Content/assets/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/assets/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/assets/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/assets/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/assets/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- iCheck -->
    <script src="~/Content/assets/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Content/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/assets/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/assets/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/assets/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/assets/build/js/custom.min.js"></script>

    <script src="~/Content/assets/vendors/select2/dist/js/select2.js"></script>
    <link href="~/Content/assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!--  ANGULARJS -->
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/angular.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/dirPagination.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/angular-ui-router.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/AngularScript/AngularCustomService.js")

    <script type="text/javascript">
        var ApiBaseURL = '@Praescio.Models.Common.baseUrl';
        var myApp = angular.module('PSM', ['sharedServices', 'angularUtils.directives.dirPagination'])

        @*myApp.controller('MenuController', ['$scope', '$rootScope', 'NetworkService', function ($scope, $rootScope, NetworkService) {

            NetworkService.get('CommonAPI/BindFilter?userid=@user.UserID&userprofile=@UserProfile')
              .then(function (response) {
                  $scope.BindFilter = response.data;
              })
                .catch(function (response) {
                    console.log(response);
                })

            $rootScope.$on("RefereshMenuFilter", function () {
                $scope.parentmethod();
            });
            $scope.parentmethod = function () {
                NetworkService.get('CommonAPI/BindFilter?userid=@user.UserID&userprofile=@UserProfile')
              .then(function (response) {
                  $scope.BindFilter = response.data;
              }).catch(function (response) {
                  console.log(response);
              })
            }
        }]);*@
    </script>

    @RenderSection("Scripts", false)

</body>
</html>