
@{
    ViewBag.Title = "TestHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col row clearfix" role="main" ng-controller="AssignmentQuestionCtrl" ng-init="LoadContent();">
    <div class="content">
        <div class="table-agile-info1">
      <br /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    History Of Exam
                    <span title="Days:Hours:Minutes" class="tools pull-right" style="font-size:12px;font-weight:600;">
                      Active Duration:
                      <span ng-if="ExamStartDateTimer == null">Not Started</span>
                      <span ng-if="ExamStartDateTimer != null">{{ ExamStartDateTimer }}</span>
                    </span>
                </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p><strong>Total Marks Scored:</strong> {{UserAssessmentDetail.TotalMarksScored}} / {{UserAssessmentDetail.MaxTotalScore}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <font style="color:#575252"><b>{{Assignment.Title}}</b></font>
                  <div id="AssignmentPDF"></div>
                </div>
              </div>
                @*<div class="market-updates">
                    <div class="col-md-3 market-update-gd">
                        <a href="meaning_of_lesson_history.html">
                            <div class="market-update-block clr-block-2">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-file-text"> </i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Meaning Of Lesson</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd">
                        <a href="synonyms_history.html">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-exchange"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Synonyms In Lesson</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd">
                        <a href="antonyms_history.html">
                            <div class="market-update-block clr-block-3">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Antonyms In Lesson</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                   
                    <div class="clearfix"> </div>
                </div>*@
                <div class="market-updates">
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('FillInTheBlanks',@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.FillInTheBlanks));">
                        <a href="@Url.Action("FillInTheBlanksHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-font"> </i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Fill In The Blanks</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('MatchTheFollowing',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.MatchTheFollowing));">
                        <a href="@Url.Action("MatchTheFollowingHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-3">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-check-square"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Match The Following</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('MCQ',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.MCQ));">
                        <a href="@Url.Action("MultipleChoiceQuestionsHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Multiple Choice Questions</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('TrueFalse',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.TrueFalse));">
                        <a href="@Url.Action("TrueFalseQuestionsHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-2">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>True/False Questions</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="market-updates">
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('OneSentenceAnswer',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.OneSentenceAnswer));">
                        <a href="@Url.Action("WriteAnswerInOneSentenceHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-2">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-pencil"> </i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Write Answer In One Sentence</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('DescribeBriefly',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DescribeBriefly));">
                        <a href="@Url.Action("DescribeBrieflyHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Describe Briefly</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('DifferentiateBetween',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.DifferentiateBetween));">
                        <a href="@Url.Action("DifferentiateBetweenHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-3">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-adjust"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Differentiate Between</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('Exercise',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.Exercise));">
                        <a href="@Url.Action("ExerciseHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Exercise</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="market-updates">
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('WriteShortNote',@Convert.ToInt16(@Praescio.BusinessEntities.Common.TypeOfQuestion.WriteShortNote));">
                        <a href="@Url.Action("WriteShortNoteHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-pencil"> </i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Write Short Note On</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd" ng-if="isQuestionContain('WriteReason',@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.WriteReason));">
                        <a href="@Url.Action("WriteReasonHistory", "InstitutionStudent",new { AssignmentId=ViewBag.AssignmentId})">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Write A Reason</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    @*<div class="col-md-3 market-update-gd">
                        <a href="topic_concept_history.html">
                            <div class="market-update-block clr-block-3">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>Concept Of Any Topic Of Lesson</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 market-update-gd">
                        <a href="view_video.html">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <p>View Video</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>*@
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>    </div>
</div>

@section Scripts{

  <script type="text/javascript">
    myApp.controller('AssignmentQuestionCtrl', function ($scope, $rootScope, $filter, NetworkService, $timeout, $interval) {

      $scope.ExamStartDateTimer = null;
      $scope.Loading = true;

          @*$scope.ExamStartDateTimer = "Loading...";
          NetworkService.get('PraescioCommon/GetUserAssessmentDetail?assignmentid=@ViewBag.assignmentid').success(function (data) {
                if (data != null) {
                  $interval(function () {
                    $scope.ExamStartDateTimer = GetStopWatchTime(data.ExamStartDate);
                  }, 1000);
                } else {
                  $scope.ExamStartDateTimer = null;
                }
            });*@
          $scope.ExamStartDateTimer = "Loading...";
          $scope.LoadContent = function () {
                NetworkService.get('PraescioCommon/GetQuestionByAssignmentId?assignmentid=@ViewBag.Assignmentid&userId=0').success(function (data) {
                    $scope.Assignment = data.Assignment;
                    $scope.QuestionList = data.Question;
                    $scope.QuestionAssessment = data.QuestionAssessmentDetail;
                    $scope.UserAssessmentDetail = data.UserAssessmentDetail;

                    if (data.UserAssessmentDetail != null) {
                      $scope.ExamStartDateTimer = GetStopWatchTime2(data.UserAssessmentDetail.ExamStartDate, data.UserAssessmentDetail.ExamEndDate);
                    }

                    if (data.Assignment.UploadFileSrc != "" && data.Assignment.UploadFileSrc != null) {
                      $('#AssignmentPDF').append('<embed id="pdfFile" type="application/pdf" src="@Url.Content("~/")' + data.Assignment.UploadFileSrc + '" height="500px" width="80%" internalinstanceid="37" title=""><br><br><br>');
                    }

                });
          }


          $scope.isQuestionContain = function (id, questionType) {
            var result = false;

            $.each($scope.QuestionList, function (i, e) {
              //console.log('$scope.QuestionList[i].QuestionType', $scope.QuestionList[i].QuestionType.Name)
              if ($scope.QuestionList[i].QuestionTypeId == questionType) {
                result = true;

                //if ($scope.QuestionList[i].IsCheckedByTeacher == true) {
                //  $('#' + id).find('li').removeClass('tick1').addClass('green');
                //} else {
                //  $.each($scope.QuestionAssessment, function (i, e) {
                //    if ($scope.QuestionAssessment[i].Question.QuestionTypeId == questionType) {
                //      if ($scope.QuestionAssessment[i].UserAssessment.IsFinalScore) {
                //        $('#' + id).find('li').removeClass('tick1').addClass('green');
                //      }
                //    }
                //  });
                //}
              }
            });

            return result;
          }
        });
  </script>
}