
@{
    ViewBag.Title = "AddHandwritingAssigment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var assignmentTitle = (int)Praescio.BusinessEntities.Common.AssignmentType.Pronounciation == ViewBag.AssignmentType ? "Pronounciation" : (int)Praescio.BusinessEntities.Common.AssignmentType.Handwriting == ViewBag.AssignmentType ? "Handwriting" : "Handwriting";

}

<div class="right_col" role="main" ng-controller="HandwritingAssigmentCtrl">
    <div class="content">
        <ol class="breadcrumb align-right">
            <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
            <li>Assignment</li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Add @assignmentTitle Assignment
                            </h2>
                        </div>
                        <div class="body">
                            <form id="AssignmentForm" name="AssignmentForm" data-parsley-validate>

                                <div class="form-group">
                                    <label for="Title">Title</label>
                                    <input type="text" id="Title" ng-model="Assignment.Title" class="form-control" name="Title" placeholder="Title" required />
                                    <p ng-show="AssignmentForm.Title.$invalid && (AssignmentForm.Title.$dirty || submitted ||AssignmentForm.Title.$touched )" class="text-danger">Title is required.</p>
                                </div>

                                <div class="form-group">
                                  <label for="heard" class="required">Select Board</label>
                                  <select id="Board" name="Board" ng-change="ChangeBoard(Assignment.BoardId)" class="input-sm form-control" ng-model="Assignment.BoardId" ng-options="option.Id as option.BoardName for option in BoardList" ng-required="true">
                                    <option value="">-- Select Board --</option>
                                  </select>
                                  <p ng-show="AssignmentForm.Board.$invalid && (AssignmentForm.Board.$dirty || submitted ||AssignmentForm.Board.$touched )" class="text-danger">Board is required.</p>
                                </div>

                                <div class="form-group">
                                  <div>
                                    <label for="heard">Select Medium</label>
                                    <select id="Medium" name="Medium" class="input-sm form-control" ng-model="Assignment.MediumId" ng-disabled="Assignment.BoardId>1" ng-options="option.Id as option.Name for option in MediumList" ng-change="" ng-required="true">
                                      <option value="">-- Select Medium --</option>
                                    </select>
                                  </div>
                                  <p ng-show="AssignmentForm.Medium.$invalid && (AssignmentForm.Medium.$dirty || submitted ||AssignmentForm.Medium.$touched )" class="text-danger">Medium is required.</p>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <label for="heard">Select Standard</label>
                                        <select id="Standard" name="Standard" class="input-sm form-control" ng-model="Assignment.StandardId" ng-options="option.Id as option.StandardName for option in StandardList" ng-change="ChangeStandard(Assignment.StandardId)" ng-required="true">
                                            <option value="">-- Select Standard --</option>
                                        </select>
                                    </div>
                                    <p ng-show="AssignmentForm.Standard.$invalid && (AssignmentForm.Standard.$dirty || submitted ||AssignmentForm.Standard.$touched )" class="text-danger">Standard is required.</p>
                                </div>

                                <!--<div class="form-group">
                                    <div>
                                        <label for="Subject">Select Subject</label>
                                        <select id="Subject" name="Subject" class="input-sm form-control" ng-model="Assignment.SubjectId" ng-options="option.Id as option.SubjectName for option in SubjectList" ng-change="" ng-required="true">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                    <p ng-show="AssignmentForm.Standard.$invalid && (AssignmentForm.Standard.$dirty || submitted ||AssignmentForm.Standard.$touched )" class="text-danger">Subject is required.</p>
                                </div>-->

                                <label for="Description">Description</label>
                                <div class="form-group">
                                    <div class="form-line">
                                      <textarea id="Description" required="required" ng-model="Assignment.Description" class="form-control" name="Description" data-parsley-trigger="keyup" data-parsley-minlength="0" data-parsley-maxlength="250" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." placeholder="Enter Description"
                                                data-parsley-validation-threshold="0"></textarea>
                                    </div>
                                </div>
                                <label for="File" class="">Upload File</label>
                                <div class="form-group">
                                    <div class="form-line">
                                      <input id="File" ng-model="file" valid-file name="file" required type="file" ng-files="getTheFiles($files)" accept="application/pdf" onselect="Call()" />
                                    </div>(* Only PDF file)
                                </div>
                                @*<a href="#" class="btn btn-success waves-effect">RESET</a>*@

                                @if (ViewBag.Assignmentid == null || ViewBag.Assignmentid == 0)
                                {
                                    <span class="btn btn-primary" ng-click="AddAssignment()" ng-disabled="savingRequest">
                                      Save
                                      <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                    </span>
                                }
                                else
                                {
                                    <span class="btn btn-primary" ng-click="UpdateAssignment()" ng-disabled="savingRequest">
                                      Update
                                      <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                    </span>
                                }
                                @*<a href="handwritting.html" class="btn btn-primary waves-effect">VIEW ASSIGNMENT</a>*@

                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        myApp.directive('ngFiles', ['$parse', function ($parse) {
            function fn_link(scope, element, attrs) {
                var onChange = $parse(attrs.ngFiles);
                element.on('change', function (event) {
                    onChange(scope, { $files: event.target.files });
                });
            };

            return {
                link: fn_link
            }
        }])
        .directive('ngInitial', function () {
            return {
                restrict: 'A',
                controller: [
                  '$scope', '$element', '$attrs', '$parse', function ($scope, $element, $attrs, $parse) {
                      var getter, setter, val;
                      val = $attrs.ngInitial || $attrs.value;
                      getter = $parse($attrs.ngModel);
                      setter = getter.assign;
                      setter($scope, val);
                  }
                ]
            };
        })
        .directive('validFile', function () {
            return {
                require: 'ngModel',
                link: function (scope, el, attrs, ngModel) {
                    //change event is fired when file is selected
                    el.bind('change', function () {
                        scope.$apply(function () {
                            ngModel.$setViewValue(el.val());
                            ngModel.$render();
                        });
                    });
                }
            }
        })


        myApp.controller('HandwritingAssigmentCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.Assignment = {};

            var formdata = new FormData();
            $scope.getTheFiles = function ($files) {
                $scope.isDisplay = true;
                if ($files.length != 0)
                    $scope.FileUpload = [];
                for (var i = 0; i < $files.length; i++) {
                    $scope.FileUpload.push({ FileName: $files[i].name, ContentType: $files[i].type, Size: $files[i].size });
                }
                $scope.isDisplay = true;
                angular.forEach($files, function (value, key) {
                    formdata.append(0, value);
                });

            };

            $scope.Student = {};
            $scope.TitleName = 'Register Student'

            $scope.StandardList = [{ Id: 1, StandardName: '5th' }, { Id: 2, StandardName: '6th' }, { Id: 3, StandardName: '7th' },
                               { Id: 4, StandardName: '8th' }, { Id: 5, StandardName: '9th' }, { Id: 6, StandardName: '10th' }]

            $scope.SubjectList = [{ Id: 1, SubjectName: 'English' }, { Id: 2, SubjectName: 'Hindi' }, { Id: 3, SubjectName: 'Marathi' },
                               { Id: 4, SubjectName: 'Science' }, { Id: 5, SubjectName: 'Mathematics' }];

            $scope.VersionType = [{ Id: 1, Name: 'Paid' }, { Id: 2, Name: 'Trail' }];

            $scope.TeacherMappingStandard = [];
            $scope.TeacherSubjects = [];
            if (
              "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)"
              || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Teacher)"
            )
            {
              NetworkService.get('PraescioCommon/GetUserRegisterationDetail?accountId=@Praescio.Models.Common.ACCOUNT.AccountId').success(function (data) {
                $scope.TeacherMappingStandard = data.teacherMappingStandard;
                var standards = [];

                $scope.TeacherMappingStandard.forEach(function (k) {
                  standards.push(k.StandardId);
                  k.SubjectId.forEach(function (k2) {
                    $scope.TeacherSubjects.push(k2);
                  });
                });

                $scope.StandardList = $scope.StandardList.filter(m => standards.indexOf(m.Id) > -1);
              });
            }

            NetworkService.get('PraescioAdmin/GetBoardList').success(function (data) {
              @*if ("@((int)Praescio.BusinessEntities.Common.AssignmentType.PExtra)" == "@ViewBag.AssignmentType") {
                $scope.BoardList = data.filter(m => m.Id == 4);
              } else {
                $scope.BoardList = data.filter(m => m.Id != 4);
              }*@
              $scope.BoardList = data;

              if (
                "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Teacher)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Admin)"
              )
              {
                $scope.BoardList = $scope.BoardList.filter(m => m.Id == "@Praescio.Models.Common.ACCOUNT.BoardId");
              }

              $scope.Assignment.BoardId = $scope.BoardList[0].Id;
              $scope.ChangeBoard($scope.Assignment.BoardId);
            });

            NetworkService.get('PraescioAdmin/GetSchoolList').success(function (data) {
                $scope.SchoolList = data;
            });

            NetworkService.get('PraescioAdmin/GetAssignmentTeacherList?institutionId=@Praescio.Models.Common.ACCOUNT.OrganizationAccount.InstitutionAccountId').success(function (data) {
                console.log(data);
                $scope.TeacherList = data;
            });

            NetworkService.get('PraescioAdmin/GetMedium').success(function (data) {
              @*$scope.MediumList = data.filter(m => m.Id == "@(Praescio.Models.Common.ACCOUNT.MediumId != null ? Praescio.Models.Common.ACCOUNT.MediumId : 1)");*@
              if ("@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Student)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.IndividualStudent)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Teacher)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)"
                || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Admin)")
              {
                var usrMediumId = "@Praescio.Models.Common.ACCOUNT.MediumId";
                if (usrMediumId == "" || usrMediumId == null) {
                  usrMediumId = 1;
                }
                $scope.MediumList = data.filter(m => m.Id == usrMediumId);
              } else {
                $scope.MediumList = data;
              }

              $scope.Assignment.MediumId = $scope.MediumList[0].Id;
              //console.log('$scope.MediumId', $scope.MediumId)
            });

            NetworkService.get('PraescioAdmin/GetState').success(function (data) {
                $scope.StateList = data;
            });

            $scope.ChangeBoard = function (boardname) {
                if (boardname > 1) {
                    $scope.Assignment.MediumId = 1;
                }
            }

            $scope.ChangeStandard = function (id) {
              NetworkService.get('PraescioCommon/GetSubjectSingleMedium?standardid=' + id + '&mediumid=' + $scope.Assignment.MediumId + '&boardid=' + $scope.Assignment.BoardId).success(function (data) {
                $scope.SubjectList = data;

                if (
                  "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)"
                  || "@Praescio.Models.Common.ACCOUNT.AccountTypeId" == "@((int)Praescio.BusinessEntities.Common.AccountType.Teacher)"
                ) {
                  $scope.SubjectList = $scope.SubjectList.filter(m => $scope.TeacherSubjects.indexOf(m.Id) > -1);
                }
              });
            }


            if ('@ViewBag.Assignmentid' > 0) {
                NetworkService.get('PraescioCommon/GetAssignmentDetail?assignmentid=@ViewBag.Assignmentid').success(function (data) {
                    $scope.Assignment = data.Assignment;
                    $scope.ChangeStandard(data.Assignment.StandardId);
                });
            }

            $scope.RegisterStudent = function () {
                var data = '{"account":' + JSON.stringify($scope.Student) + ',"subject":' + JSON.stringify($scope.Student.Subject) + ',"standard":' + JSON.stringify($scope.Student.Standard) + ',"isTeacher":' + true + '}';
                console.log(data);
                NetworkService.insert('PraescioAdmin/RegisterStudent', data).success(function (data) {
                    console.log('success');
                });
            }

            $scope.AddAssignment = function () {
                $scope.savingRequest = true;

                console.log('$scope.Assignment', $scope.Assignment, $scope.AssignmentForm)

                NetworkService.UploadFiles('@Url.Content("~/PraescioCommon/SaveFile")', formdata).then(function (response) {
                    $scope.Assignment.UploadFileSrc = response.data.filelocation;

                    $scope.Assignment.AccountId = '@Praescio.Models.Common.ACCOUNT.AccountId';
                    $scope.Assignment.CreatedRole = '@Praescio.Models.Common.ACCOUNT.AccountTypeId';
                    $scope.Assignment.CreatedBy = $scope.Assignment.AccountId;
                    $scope.Assignment.isQuestionAdded = false;
                    $scope.Assignment.AssignmentTypeId = "@(ViewBag.AssignmentType)";

                    var data = '{"Assignment":' + JSON.stringify($scope.Assignment) + ',"AssignmentTeacher":' + JSON.stringify($scope.Assignment.AssignmentTeacher) + '}';
                    NetworkService.insert('PraescioCommon/AddAssignment', data).success(function (data) {
                        $scope.savingRequest = false;

                        swal({
                            title: "Assignment has been successfully created!!!",
                            text: "Press Ok to Continue.",
                            type: "success",
                            confirmButtonColor: "green",
                            showCancelButton: false,

                        },
                        function (isConfirm) {
                            if (isConfirm) {
                              window.location.href = '@Url.Content("~/Praescio/ViewAssignmentHKP?assignmentType=")@(ViewBag.AssignmentType)';
                            }
                        });
                    });
                });
            }

            $scope.UpdateAssignment = function () {
                $scope.savingRequest = true;

                console.log('$scope.Assignment', $scope.Assignment, $scope.AssignmentForm)

                NetworkService.UploadFiles('@Url.Content("~/PraescioCommon/SaveFile")', formdata).then(function (response) {
                    $scope.Assignment.UploadFileSrc = response.data.filelocation;

                    $scope.Assignment.AccountId = '@Praescio.Models.Common.ACCOUNT.AccountId';
                    $scope.Assignment.CreatedRole = '@Praescio.Models.Common.ACCOUNT.AccountTypeId';
                    $scope.Assignment.ModifiedBy = $scope.Assignment.AccountId;
                    $scope.Assignment.isQuestionAdded = false;
                    $scope.Assignment.AssignmentTypeId = "@(ViewBag.AssignmentType)";

                    var data = '{"Assignment":' + JSON.stringify($scope.Assignment) + ',"AssignmentTeacher":' + JSON.stringify($scope.Assignment.AssignmentTeacher) + '}';
                    NetworkService.insert('PraescioCommon/UpdateAssignment', data).success(function (data) {
                        $scope.savingRequest = false;

                        swal({
                            title: "Assignment has been successfully updated!!!",
                            text: "Press Ok to Continue.",
                            type: "success",
                            confirmButtonColor: "green",
                            showCancelButton: false,

                        },
                        function (isConfirm) {
                            if (isConfirm) {
                              window.location.href = '@Url.Content("~/Praescio/ViewAssignmentHKP?assignmentType=")@(ViewBag.AssignmentType)';
                            }
                        });
                    });
                });
            }

            $(".select2").select2();

        });
    </script>
}
