
@{
    ViewBag.Title = "ViewAssignment";

    var assignmentTitle = Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.SuperAdmin ? "Lessons" : "Assignment";
    assignmentTitle = (int)Praescio.BusinessEntities.Common.AssignmentType.PExtra == ViewBag.AssignmentType ? "P Extra" : (int)Praescio.BusinessEntities.Common.AssignmentType.Handwriting == ViewBag.AssignmentType ? "Handwriting" : (int)Praescio.BusinessEntities.Common.AssignmentType.PraescioLesson == ViewBag.AssignmentType ?"Praescio Lesson": assignmentTitle;

    var AssignmentType = ViewBag.AssignmentType;
}

<!-- page content -->
<div class="right_col" role="main" ng-controller="ViewAssignmentCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@assignmentTitle</h3>
            </div>
            <div class="title_right">
                <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li><a href="#"><i class="fa fa-list"></i> View @assignmentTitle</a></li>
                            <li class="active">List Of @assignmentTitle</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <div class="row">
                      <div class="col-md-6">
                        <h2>List Of @assignmentTitle</h2>
                      </div>
                      <div class="col-md-6">
                        <label for="chk-hidepublished" class="pull-right">
                          Hide Published <input type="checkbox" checked="checked" name="chk-hidepublished" id="chk-hidepublished" value="true" ng-model="HidePublished" ng-change="LoadContent()"/>
                        </label>
                      </div>
                    </div>
                  </div>
                    <div class="x_content">
                        @if (Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.SuperAdmin) == Praescio.Models.Common.ACCOUNT.AccountTypeId || Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.IndividualTeacher) == Praescio.Models.Common.ACCOUNT.AccountTypeId || Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.Teacher) == Praescio.Models.Common.ACCOUNT.AccountTypeId)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <a ng-click="ShowHide()" href="#" class="btn btn-primary uploadbtn">Publish</a>

                                            @*<a class="btn btn-primary uploadbtn" title="Trail List" href="@Url.Action("AddAssignment", "Praescio")?assignmentType=@Convert.ToInt16(Praescio.BusinessEntities.Common.AssignmentType.Handwriting)"><i title="Add Assignment"></i> <span class="nav-label"> Add New @assignmentTitle</span></a>*@
                                            <a class="btn btn-primary uploadbtn" title="Trail List" href="@Url.Action("AddAssignment", "Praescio")?assignmentType=@ViewBag.AssignmentType"><i title="Add @assignmentTitle"></i> <span class="nav-label"> Add New @assignmentTitle</span></a>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <input type="text" class="form-control" ng-model="SearchText" ng-keyup="SearchText.length>3 ||SearchText.length==0?LoadContent():'';" style="width:150px;float:right;" placeholder="Search" name="Search" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <input type="text" class="form-control" ng-model="SearchText" ng-keyup="SearchText.length>3 ||SearchText.length==0?LoadContent():'';" style="width:150px;float:right;" placeholder="Search" name="Search" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }




                        <table class="table table-bordered table-striped table-hover js-basic-example " id="myTable1" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row">
                                    <th width="80px" ng-show="IsVisible"></th>
                                    @*  <th class="sorting_desc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 57px;" aria-label="Standard: activate to sort column ascending" aria-sort="descending">Standard</th>*@
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 47px;" aria-label="Subject: activate to sort column ascending">Subject</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 46px;" aria-label="Title: activate to sort column ascending">Title</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 137px;" aria-label="Description: activate to sort column ascending">Description</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 95px;" aria-label="Teacher Name: activate to sort column ascending">Teacher Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 95px;" aria-label="View Questions: activate to sort column ascending">Published Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 95px;" aria-label="View Questions: activate to sort column ascending">View Questions</th>
                                    @if (Praescio.Models.Common.ACCOUNT.AccountTypeId == Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.SuperAdmin) || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Admin
|| Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Teacher || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)
                                    {
                                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 28px;" aria-label="File: activate to sort column ascending">File</th>
                                        <th width="120"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" dir-paginate="assignment in AssignmentList |itemsPerPage:10|filter:searchText" total-items="totalcount">
                                    <td ng-show="IsVisible"><input type="checkbox" ng-model="assignment.IsPublished" style="cursor:pointer;" /></td>
                                    @*<td class="sorting_1">{{assignment.Standard.StandardName}}</td>*@
                                    <td>{{assignment.Subject.SubjectName}}</td>
                                    <td>{{assignment.Title}}</td>
                                    <td data-toggle="modal" data-target="#defaultModal" class="pointer">{{assignment.Description}}</td>
                                    <td>{{assignment.Standard.TeacherName}}</td>
                                    <td data-toggle="modal" data-target="#defaultModal" class="pointer">{{assignment.CreatedOn | date:"dd MMM, yyyy"}}</td>
                                    <td><a ng-href="@Url.Content("~/Praescio/AssignmentQuestion?assignmentId="){{assignment.AssignmentId}}"><span class="badge bg-teal">View Questions</span></a></td>
                                    @if (Praescio.Models.Common.ACCOUNT.AccountTypeId == Convert.ToInt16(Praescio.BusinessEntities.Common.AccountType.SuperAdmin) || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Admin
|| Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Teacher || Praescio.Models.Common.ACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.IndividualTeacher)
                                    {
                                        <td><a ng-href='~/{{assignment.UploadFileSrc}}' target="_blank">Download</a></td>
                                        <td>
                                            <a ng-disabled="assignment.IsPublished" ng-href="~/Praescio/AddAssignment?assignmentType={{assignment.AssignmentTypeId}}&assignmentid={{assignment.AssignmentId}}" class="btn btn-success btn-xs">Edit </a> |
                                            <a class="btn btn-danger btn-xs" ng-click="DeleteAssignment(assignment.AssignmentId)">Delete</a>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                      <div ng-show="IsVisible">
                        <div class="form-group">
                          <div>
                            <label for="heard">Select Medium</label>
                            <select id="Medium" name="Medium" class="input-sm form-control" ng-model="Assignment.MediumId" ng-disabled="Assignment.BoardId>1" ng-options="option.Id as option.Name for option in MediumList" ng-change="" ng-required="true">
                              <option value="">-- Select Medium --</option>
                            </select>
                          </div>
                          <p ng-show="AssignmentForm.Medium.$invalid && (AssignmentForm.Medium.$dirty || submitted ||AssignmentForm.Medium.$touched )" class="text-danger">Medium is required.</p>
                        </div>

                        <div class="form-group">
                          <div>
                            <label for="heard">Select Standard</label>
                            <select id="Standard" name="Standard" class="input-sm form-control" ng-model="Assignment.StandardId" ng-options="option.Id as option.StandardName for option in StandardList" ng-change="ChangeStandard(Assignment.StandardId)" ng-required="true">
                              <option value="">-- Select Standard --</option>
                            </select>
                          </div>
                          <p ng-show="AssignmentForm.Standard.$invalid && (AssignmentForm.Standard.$dirty || submitted ||AssignmentForm.Standard.$touched )" class="text-danger">Standard is required.</p>
                        </div>

                        <div class="form-group">
                          <div>
                            <label for="heard">Select Subject</label>
                            <select id="Subject" name="Subject" class="input-sm form-control" ng-model="Assignment.SubjectId" ng-options="option.Id as option.SubjectName for option in SubjectList" ng-change="ChangeSubject(Assignment.SubjectId)" ng-required="true">
                              <option value="">-- Select Subject --</option>
                            </select>
                          </div>
                        </div>
                      </div>
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 on-page-change="onPageChange(newPageNumber)"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                        <span ng-show="IsVisible" class="btn btn-primary uploadbtn" ng-click="PublishAssignment()" ng-disabled="savingRequest">
                            Submit
                            <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">


        myApp.controller('ViewAssignmentCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.itemPerPage = 10;
            $scope.SearchText = "";
            $scope.Assignment = {};
            $scope.AssignmentListAll = [];
            $scope.HidePublished = true;

            $scope.ShowHide = function () {
                $scope.IsVisible = $scope.IsVisible ? false : true;
            }

            $scope.LoadContent = function () {

              NetworkService.get('PraescioCommon/GetAssignmentList?AssignmentType=@ViewBag.AssignmentType&searchText=' + $scope.SearchText + '&HidePublished=' + $scope.HidePublished).success(function (data) {
                    $scope.AssignmentList = data.dataContent;
                    $scope.totalcount = data.totalRecord;
                });
            }
            $scope.LoadContent();
          
            $scope.onPageChange = function (pageno) {
                var url = '&pageNo=' + pageno + '&itemPerPage=' + $scope.itemPerPage + '&AssignmentType=@ViewBag.AssignmentType';

                NetworkService.get('PraescioCommon/GetAssignmentList?' + url).success(function (data) {
                    $scope.AssignmentList = data.dataContent;
                    $scope.totalcount = data.totalRecord;
                });
            }
          
            NetworkService.get('PraescioAdmin/GetMedium').success(function (data) {
              $scope.MediumList = data;
            });

            $scope.StandardList = [{ Id: 1, StandardName: '5th' }, { Id: 2, StandardName: '6th' }, { Id: 3, StandardName: '7th' },
                { Id: 4, StandardName: '8th' }, { Id: 5, StandardName: '9th' }, { Id: 6, StandardName: '10th' }]

            $scope.ChangeStandard = function (id) {
                NetworkService.get('PraescioCommon/GetSubject?standardid=' + id + '&mediumid=' + $scope.Assignment.MediumId).success(function (data) {
                    $scope.SubjectList = data;
                    console.log(data);
                });
            }

            $scope.PublishAssignment = function () {
                var data = '{"dataContent":' + JSON.stringify($scope.AssignmentList) + '}';
                NetworkService.insert('PraescioCommon/PublishAssignment', data).success(function (data) {

                    swal({
                        title: "@assignmentTitle has been published successfully !!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                    });

                    $scope.LoadContent();


                    $scope.savingRequest = false;
                    $scope.IsVisible = false;
                }).error(function (data, status) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

            $scope.DeleteAssignment = function (id) {

                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        NetworkService.insert('PraescioCommon/DeleteAssignment?id=' + id, null).success(function (data) {
                            swal({
                                title: "Assignment has been deleted successfully!!!",
                                text: "Press Ok to Continue.",
                                type: "success",
                                confirmButtonColor: "green",
                                showCancelButton: false,
                            });
                            $scope.LoadContent();
                        });
                    } else {
                    }
                });
            }

        });
    </script>
}
